@main("Your Books") {
    <form ng-submit="addBook()">
        <table>
            <thead>
                <tr><th>ID</th><th>Title</th><th>Author</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books" class="bookEntry">
                    <td>{{book.id}}</td>
                    <td class="bookTitle">{{book.title}}</td>
                    <td>{{book.author}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input class="btn-primary" type="submit" value="add"></td>
                    <td><input type="text" ng-model="bookTitle" size="30"
                        placeholder="new book title"></td>
                    <td><input type="text" ng-model="bookAuthor" size="30"
                        placeholder="new book author"></td>
                </tr>
            </tfoot>
        </table>
    </form>
}