@(books: Seq[Book])(implicit lang: Lang)
<!-- This function definition makes the injected data explicit -->

@main("Your Books") {
    <table>
        <thead>
            <tr><th>ID</th><th>Title</th><th>Author</th></tr>
        </thead>
        <tbody>
            @for(book <- books) {
            <tr class="bookEntry">
                <td>@book.id</td>
                <td class="bookTitle">@book.title</td>
                <td>@book.author</td>
            </tr>
            }
        </tbody>
        <tfoot>
        <tr>
            <!-- Use a reverse route lookup to inject the URL -->
            <form action="@routes.BookController.save()" method="POST">
                <td><button class="btn-primary" type="submit">add</button></td>
                <td><input name="bookTitle" id="bookTitle" type="text" size="30"></td>
                <td><input name="bookAuthor" id="bookAuthor" type="text" size="30"></td>
            </form>
        </tr>
        </tfoot>
    </table>
}